@font-face {
  font-family: "sf-pro-regular";
  src: url(./font/sf-pro-regular.OTF);
}
@font-face {
  font-family: "space-tech-italic";
  src: url(./font/space-tech-italic.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "sf-pro-regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rates {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  overflow: hidden;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.rates tr {
  background: var(--btns-bak-clr);
  color: var(--white);
}
.thead th,
.tfoot th {
  background: var(--bak-clr);
  color: var(--white);
  letter-spacing: 3px;
  word-spacing: 3px;
  padding: 5px;
}
#th-price {
  border-radius: 22px 0px 0px 0px;
  -webkit-border-radius: 22px 0px 0px 0px;
  -moz-border-radius: 24px 0px 0px 0px;
}

#th-valid {
  border-radius: 0px 22px 0px 0px;
  -webkit-border-radius: 0px 22px 0px 0px;
  -moz-border-radius: 0px 22px 0px 0px;
}
#th-udp {
  border-radius: 0px 0px 22px 22px;
  -webkit-border-radius: 0px 0px 22px 22px;
  -moz-border-radius: 0px 0px 22px 22px;
}

.rates sup {
  color: var(--clr-rates-sup);
}

table {
  width: 100%;
}

th {
  height: 30px;
}

td {
  height: 30px;
  border: 2px solid var(--white);
  border-collapse: collapse;
}
tr {
  height: 30px;
}
